In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import SkyScan
import sky as sk
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [ ]:
# Use the endpoint POST Create session to create a query session for LIVE FLIGHT SEARCH
# Required: originPlace: 
#           destinationPlace: 
#           outboundDate:
    
#     Get back the session ID in the Location header from POST Create session.
#     Poll the results using the endpoint GET Poll session results.

In [ ]:
# POST to initiate LIVE FLIGHT SEARCH

post_url = sky_api_host + "apiservices/pricing/v1.0"

payload = "inboundDate=&cabinClass=&children=&infants=&country=&currency=&locale=&originPlace=&destinationPlace=&outboundDate=&adults="
headers = {
    'x-rapidapi-host': sky_api_host,
    'x-rapidapi-key': sk.sky_key,
    'content-type': "application/x-www-form-urlencoded"
    }

response = requests.request("POST", post_url, data=payload, headers=headers)

In [3]:
# Find Location IDs based on string searches
test_loc = SkyScan.get_locations('New',sk.key)
test_loc['PlaceId'] # use these as inputs

0    NYCA-sky
1     JFK-sky
2     EWR-sky
3     LGA-sky
4     SWF-sky
5     DEL-sky
6    MSYA-sky
7     MSY-sky
8     NEW-sky
9     HVN-sky
Name: PlaceId, dtype: object

In [125]:
# BROWSE QUOTES
test_quote = SkyScan.browse_quotes('SFO-sky','JFK-sky', sk.key, '2019-09-01')
t_quote = json.loads(test_quote.text)
print(t_quote.keys())
[type(t_quote[key]) for key in t_quote.keys()]

dict_keys(['Quotes', 'Places', 'Carriers', 'Currencies'])

[list, list, list, list]

In [88]:
json_normalize(t_quote['Quotes'], meta = 'OutboundLeg')['OutboundLeg.CarrierIds']

0    [833]
1    [870]
Name: OutboundLeg.CarrierIds, dtype: object

In [95]:
[print(quote) for quote in quotes['OutboundLeg.CarrierIds']]

[833]
[870]

[None, None]

In [148]:
quotes = SkyScan.parse_quotes(test_quote)  
quotes

,Direct,MinPrice,OutboundLeg.CarrierIds,OutboundLeg.DepartureDate,OutboundLeg.DestinationId,OutboundLeg.OriginId,QuoteDateTime,QuoteId,CarrierNames
0,False,261.0,[833],2019-09-01T00:00:00,60987,81727,2019-08-21T23:43:00,1,American Airlines
1,True,305.0,[870],2019-09-01T00:00:00,60987,81727,2019-08-14T02:55:00,2,jetBlue

In [7]:
# BROWSE ROUTES
test_route = SkyScan.browse_routes('SFO-sky','JFK-sky', sk.key, '2019-09-28')
t_route = json.loads(test_route.text)
print(t_route.keys())
[type(t_route[key]) for key in t_route.keys()]

dict_keys(['Routes', 'Quotes', 'Places', 'Carriers', 'Currencies'])

[list, list, list, list, list]

In [27]:
pd.DataFrame(t_route['Quotes'])['OutboundLeg'][0]

{'CarrierIds': [833],
 'OriginId': 81727,
 'DestinationId': 60987,
 'DepartureDate': '2019-09-01T00:00:00'}

In [8]:
# BROWSE DATES
test_dates = SkyScan.browse_dates('EWR-sky','LAX-sky', sk.key, 'anytime')
t_dates = json.loads(test_dates.text)
print(t_dates.keys())
[type(t_dates[key]) for key in t_dates.keys()]

dict_keys(['Dates', 'Quotes', 'Places', 'Carriers', 'Currencies'])

[dict, list, list, list, list]

In [14]:
[pd.DataFrame(t_dates[key]) for key in t_dates.keys()]

[                                        OutboundDates
 0   {'PartialDate': '2019-08', 'QuoteIds': [1, 2],...
 1   {'PartialDate': '2019-09', 'QuoteIds': [3, 4],...
 2   {'PartialDate': '2019-10', 'QuoteIds': [5, 6],...
 3   {'PartialDate': '2019-11', 'QuoteIds': [7, 8],...
 4   {'PartialDate': '2019-12', 'QuoteIds': [9, 10]...
 5   {'PartialDate': '2020-01', 'QuoteIds': [11], '...
 6   {'PartialDate': '2020-02', 'QuoteIds': [12], '...
 7   {'PartialDate': '2020-03', 'QuoteIds': [13], '...
 8   {'PartialDate': '2020-04', 'QuoteIds': [14], '...
 9   {'PartialDate': '2020-05', 'QuoteIds': [15], '...
 10  {'PartialDate': '2020-06', 'QuoteIds': [16], '...
 11  {'PartialDate': '2020-07', 'QuoteIds': [17], '...,
     Direct  MinPrice                                        OutboundLeg  \
 0    False      69.0  {'CarrierIds': [1467], 'OriginId': 50290, 'Des...
 1     True     236.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 2    False      69.0  {'CarrierIds': [1467], 'OriginId': 50290, 'Des...
 3     True     116.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 4    False      69.0  {'CarrierIds': [1467], 'OriginId': 50290, 'Des...
 5     True     116.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 6    False      69.0  {'CarrierIds': [1467], 'OriginId': 50290, 'Des...
 7     True     115.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 8     True     118.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 9    False     111.0  {'CarrierIds': [1467], 'OriginId': 50290, 'Des...
 10    True     125.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 11    True     125.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 12    True     128.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 13    True     129.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 14    True     129.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 15    True     129.0  {'CarrierIds': [851], 'OriginId': 50290, 'Dest...
 16   False     139.0  {'CarrierIds': [833], 'OriginId': 50290, 'Dest...

           QuoteDateTime  QuoteId
 0   2019-08-21T20:54:00        1
 1   2019-08-21T21:28:00        2
 2   2019-08-21T21:08:00        3
 3   2019-08-21T19:13:00        4
 4   2019-08-21T20:26:00        5
 5   2019-08-21T20:41:00        6
 6   2019-08-21T18:12:00        7
 7   2019-08-14T01:34:00        8
 8   2019-08-13T22:23:00        9
 9   2019-08-21T17:59:00       10
 10  2019-08-14T17:43:00       11
 11  2019-08-14T05:06:00       12
 12  2019-08-15T17:58:00       13
 13  2019-08-21T20:23:00       14
 14  2019-08-21T18:37:00       15
 15  2019-08-18T18:35:00       16
 16  2019-08-21T19:50:00       17  ,
   CityId     CityName    CountryName IataCode                       Name  \
 0   NYCA     New York  United States      EWR            New York Newark
 1   LAXA  Los Angeles  United States      LAX  Los Angeles International

    PlaceId SkyscannerCode     Type
 0    50290            EWR  Station
 1    65368            LAX  Station  ,
    CarrierId               Name
 0        833  American Airlines
 1        851    Alaska Airlines
 2       1467    Spirit Airlines,
   Code  DecimalDigits DecimalSeparator  RoundingCoefficient  \
 0  USD              2                .                    0

    SpaceBetweenAmountAndSymbol Symbol  SymbolOnLeft ThousandsSeparator
 0                        False      $          True                  ,  ]